{# templates/front/partials/nav.html.twig #}

<!-- Topbar Start -->
<div class="container-fluid bg-secondary top-bar wow fadeIn" data-wow-delay="0.1s">
    <div class="row align-items-center h-100">
        <div class="col-lg-4 text-center text-lg-start">
            <a href="{{ path('home') }}">
                <h1 class="display-5 text-primary m-0">SchoolPrepar</h1>
            </a>
        </div>
        <div class="col-lg-8 d-none d-lg-block">
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-end">
                        <div class="flex-shrink-0 btn-square bg-primary">
                            <i class="fa fa-phone-alt text-dark"></i>
                        </div>
                        <div class="ms-2">
                            <h6 class="text-primary mb-0">Appelez-nous</h6>
                            <span class="text-white">+228 90 00 00 00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-end">
                        <div class="flex-shrink-0 btn-square bg-primary">
                            <i class="fa fa-envelope-open text-dark"></i>
                        </div>
                        <div class="ms-2">
                            <h6 class="text-primary mb-0">Email</h6>
                            <span class="text-white">contact@schoolprepar.tg</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-end">
                        <div class="flex-shrink-0 btn-square bg-primary">
                            <i class="fa fa-map-marker-alt text-dark"></i>
                        </div>
                        <div class="ms-2">
                            <h6 class="text-primary mb-0">Adresse</h6>
                            <span class="text-white">Lomé, Togo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-secondary px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="nav-bar">
        <nav class="navbar navbar-expand-lg bg-primary navbar-dark px-4 py-lg-0">
            <h4 class="d-lg-none m-0">Menu</h4>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav me-auto">
                    <a href="{{ path('home') }}"
                       class="nav-item nav-link {{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
                        Accueil
                    </a>
                    <a href="{{ path('filieres_list') }}"
                       class="nav-item nav-link {{ app.request.attributes.get('_route') starts with 'filiere' ? 'active' : '' }}">
                        Filières
                    </a>
                    <a href="{{ path('etablissements_list') }}"
                       class="nav-item nav-link {{ app.request.attributes.get('_route') starts with 'etablissement' ? 'active' : '' }}">
                        Établissements
                    </a>
                </div>
                <div class="d-none d-lg-flex ms-auto">
                    <a class="btn btn-square btn-dark ms-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-dark ms-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-dark ms-2" href="#!"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->